{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
    <div id="app" v-bind:csrf_token="{{ csrf_token('authenticate') }}" v-bind:last_email="{{last_email}}"></div>
{% endblock %}